<<<<<<< HEAD
* {

  margin:0;
	padding:0;
	font-family:Helvetica Neue, Helvetica;
	font-size:13px;
}

.container {
	width:980px;
	margin:100px auto;
	background-image: url(../img/back_cell2.png);
}

/*
 * Beginning of the actual menu code.
 * 
 */
=======
>>>>>>> Adjustments

ul.menu {
	list-style:none; /* remove bullet points */
<<<<<<< HEAD
	background: none;

}

ul.menu li {
	float:left;
}

ul.menu li a {
	display:block;
	height:40px;
	width:100px;
	margin:0px 10px 0px 10px;
	padding:0px 5px 0px 5px;
	line-height:40px; /* Center the text vertically */
	text-decoration:none;
	color: white;
	text-align:center;
	background:rgb(121,146,223);
	border: thin solid rgb(0,0,0);
	-moz-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 0px 15px 15px 0px;
	-webkit-border-radius: 0px 15px 15px 0px;
	-khtml-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
	z-index: 6;
}

ul.menu li:hover a {
	background:red;
}
=======
}

>>>>>>> Adjustments

/*
 * Level 1 Dropdowns
 */

ul.menu li:hover ul.dropdown {
	display:block;
	line-height:40px; /* Center the text vertically */
}


ul.menu li ul.dropdown {
	display:none;
	list-style:none;
line-height:40px; /* Center the text vertically */
}

ul.menu li ul.dropdown li {
	float:none;
	position:relative;
	line-height:40px; /* Center the text vertically */
}

ul.menu li ul.dropdown li a {
<<<<<<< HEAD
	background:rgb(121,146,223);
=======
	background:black;
	line-height:40px; /* Center the text vertically */
>>>>>>> Adjustments
}

ul.menu li ul.dropdown li:hover a {
	background:pink;
	line-height:40px; /* Center the text vertically */
}

/*
 * Level 2 Dropdowns
 */

ul.menu li ul.dropdown li:hover ul.dropdown {
	display:block;
	line-height:40px; /* Center the text vertically */
}

ul.menu li ul.dropdown li ul.dropdown {
	position:absolute;
	left:110px;
	top:0px;
	display:none;
line-height:40px; /* Center the text vertically */
}

ul.menu li ul.dropdown li ul.dropdown li a {
	background:gray;
	line-height:40px; /* Center the text vertically */
}


ul.menu li ul.dropdown li ul.dropdown li:hover a {
	background:orange;
	line-height:40px; /* Center the text vertically */
}