@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(../img/tile2.png);
	background-color: #FFFFFF;
	background-repeat: repeat;
	font-family: Helvetica,Arial, sans-serif;
	font-weight: normal;
}

/* Nav Bar*/
.navigation
{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: rgb(121,146,223);
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(121,146,223);
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 100px;
	margin-top: 55px;
	margin-left: 140px;
	border: thin solid rgb(0,0,0);
	-moz-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	-khtml-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	z-index: -1;
}

.nav-letters
{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	padding: 20px;
	padding-bottom: 20px;
	padding-left: 25px;
	margin-top: 55px;
	margin-left: 140px;
	z-index: 4;
}

li
{
	display: inline;
	font-weight: bold;
	color: rgb(121,146,223);
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 40px;
	padding-left: 40px;
}
/* End of Nav Bar*/

.container {
	width: 1100px;
	margin: 0 auto;
}

.logo{
	position:relative;
	z-index:3;
	}

.content{
	background-image: url(../img/back_cell2.png);
	background-repeat: repeat;
	height:auto;
	width: 950px;
	margin-left:110px;
	margin-top:-80px;
	padding:20px;
	padding-bottom:5px;
	-moz-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.8);
	box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	z-index:2;
	}

.title{
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
		color: #FFF;
}

.slideShow{
	height:auto;
	width: auto;
}
.paws{
	margin-top:15px;
	text-align:center;
	}

.paw{
	padding-right:20px;
	}

.title2{
	font-size: 36px;
	font-weight: bold;
		color: #FFF;
}

.slogan{
	float:left;
	width:31.2%;
	padding:10px;
	color: #999;
}

/*Sidebar*/
.toggle{
	position: absolute;
	background-color: rgb(121,146,223);
	height: 400px;
	width: 80px;
	top: 220px;
	margin-left: 26px;
	border: thin solid rgb(0,0,0);
	-moz-box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 15px 0px 0px 15px;
	-webkit-border-radius: 15px 0px 0px 15px;
	-khtml-border-radius: 15px 0px 0px 1px;
	border-radius: 15px 0px 0px 15px;
	background-image: url(../img/sidebar.png);
	cursor:pointer;
	z-index: 5;
	}
	
	.toggle:hover{
	position: absolute;
	height: 400px;
	width: 80px;
	top: 220px;
	margin-left: 26px;
	background-color: rgb(102,204,255);
	background-image: url(../img/sidebarH.png);
	cursor: pointer;
	z-index: 5;
	}

.hiddenDiv{
color:rgb(255,255,255);
display:none;
background-color: rgb(121,146,223);
position: absolute;
border:#030 1px solid;
height:400px;
width:300px;
top:220px;
padding: 0px 15px 0px 15px;
margin-left:110px;
border: thin solid rgb(0,0,0);
	-moz-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 0px 15px 15px 0px;
	-webkit-border-radius: 0px 15px 15px 0px;
	-khtml-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
	z-index: 6;
}
/*End of Sidebar*/

table {
color:rgb(255,255,255);
white-space: normal;
line-height: normal;
font-weight: normal;
font-size: medium;
font-variant: normal;
font-style: normal;
text-align: start;
}

.footer {
	padding-left:30%;
	padding-right:30%;
	text-align:center;
	font-size: 14px;
		color: #FFF;
}

/*Links*/
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #000000;
}

/*Login*/

.toggle2{
	position:absolute;
	margin-left: 990px;
	margin-top: -121px;
	float:right;
	background-color: rgb(121,146,223);
	height: 40px;
	width: 100px;
	border: thin solid rgb(0,0,0);
	border-bottom: none;
	-moz-box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	-webkit-box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	box-shadow: -1px 0 0px 3px rgba(100, 100, 100, 0.8);
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	-khtml-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	cursor:pointer;
	z-index: 1;
	}
	
	.toggle2-letters{
	position:absolute;
	margin-left: 990px;
	margin-top: -130px;
	float:right;
	height: 40px;
	width: 100px;
	cursor:pointer;
	z-index: 4;
	text-align:center;
	color:rgb(255,255,255);
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	}
	
.toggle2-letters:hover{
	position:absolute;
	margin-left: 990px;
	margin-top: -130px;
	float:right;
	height: 40px;
	width: 100px;
	color: rgb(0,0,0);
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	-khtml-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	cursor: pointer;
	z-index: 4;
	}

.hiddenDivLogin{
margin-left: 807px;
top: 130px;
position:absolute;
color:rgb(255,255,255);
display:none;
background-color: rgb(121,146,223);
float:right;
border:#030 1px solid;
height: 215px;
width: 260px;
padding: 0px 15px 0px 15px;
border: thin solid rgb(0,0,0);
-moz-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
-webkit-box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
box-shadow: 0 0 0px 3px rgba(100, 100, 100, 0.8);
-moz-border-radius: 15px 0px 15px 15px;
-webkit-border-radius: 15px 0px 15px 15px;
-khtml-border-radius: 15px 0px 15px 15px;
border-radius: 15px 0px 15px 15px;
z-index: 6;
}





/*End of Login*/